*{
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------------- Primeira Section*/

#PrimeiraSection{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(162deg, rgb(0, 0, 0) 0%, rgba(1, 1, 1, 0.692) 50%, rgb(0, 0, 0) 100%), url(/img/bg/front-working.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.textoPrimSec{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.textoPrimSec h1{
    font-size: 40px;
}

.textoPrimSec p{
    font-size: 20px;
}

.btn-whats{
    font-size: 25px;
    color: white;
    padding: 15px 30px;
    margin: 15px auto;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 221, 0);
    transition: all .6s;
}

.instagram-button {
    font-size: 25px;
    color: white;
    padding: 15px 30px;
    margin: 15px auto;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all .6s;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}


.btn-whats:hover, .instagram-button:hover{
    background-color: #CDA36C;
}

#Btn02{
    display: none;
}


/*--------------------------------------------------------------------------- Segunda Section*/

#SegundaSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}

.cards{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conteudosCards{
    width: 300px;
    color: white;
    display: flex;
    padding: 10px;
    background: linear-gradient(90deg, rgb(36, 30, 20, 1) 0%, rgba(38,32,23,1) 20%, rgba(44,37,27,1) 80%, rgba(36, 30, 20, 1) 100%);
    box-shadow: black 5px 5px 25px;
    transition: ease-in .4s;
}

.conteudosCards:hover{
    background: linear-gradient(180deg, rgba(19,16,11,1) 0%, rgba(83,50,0,1) 100%);
}

.conteudosCards img{
    width: 80px;
    padding: 20px;
}

.texto-cards{
    margin-top: 12px;
    margin-right: 15px;
}

.texto-cards h3{
    font-size: 24px;
}

.texto-cards p{
    font-size: 18px;
}

.textoSegSec{
    display: flex;
    padding: 50px 0;
    justify-content: space-evenly;
    align-items: center;
}

.textoSegSec span{
    color: #C19663;
    font-size: 22px;
}

.textoSegSec h2{
    font-size: 35px;
}

.textoSegSec p{
    width: 30%;
}

.conteiner-vantagem{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.container-cards-info{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-info{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10px 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px black;
}

.card-info p{
    font-size: 25px;
    margin: 10px;
}

.card-info span{
    margin: auto 10px;
}

.bg01{
    background-color: #1F1B13;
    color: white;
    transition: ease-in .4s;
}

.bg01:hover{
    background: linear-gradient(180deg, rgb(31, 27, 19) 0%, rgba(83,50,0,1) 100%);
}

.bg02{
    background-color: #C19663;
    transition: ease-in .4s;
}

.bg02:hover{
    background: linear-gradient(180deg, #C19663 0%, rgba(83,50,0,1) 100%);
}


/*--------------------------------------------------------------------------- Terceira Section*/

.TerceiraSection{
    padding: 150px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(162deg, rgb(0, 0, 0) 0%, rgba(1, 1, 1, 0.9) 50%, rgb(0, 0, 0) 100%), url(/img/bg/national.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-terc-section{
    width: 100%;
    text-align: center;
}

.text-terc-section p{
    color: #C19663;
    font-size: 25px;
}

.text-terc-section h3{
    font-size: 30px;
}

.cards-serv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.card-do-serv{
    width: 300px;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    transition: ease-in .4s;
}

.card-do-serv:hover{
    border: solid 1px white;
    background: linear-gradient(180deg, rgba(126, 84, 22, 0.301) 0%, rgba(19,16,11,1) 100%);
}

.card-do-serv img{
    width: 30%;
}

.card-do-serv h4{
    font-size: 25px;
}

.card-do-serv p{
    font-size: 22px;
    color: rgb(168, 168, 168);
}

/*--------------------------------------------------------------------------- Quarta Section*/

.QuartaSection{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    padding: 10px 0;
    margin: -100px auto auto;
    background-color: #C19663;
    border-radius: 10px;
}

/*--------------------------------------------------------------------------- Telas menores*/

@media (min-width: 830px ) {
    #PrimeiraSection{
        padding: 0 7%;
    }

    .container-cards-info{
        flex-wrap: wrap;
        height: auto;
    }
}

@media (min-width: 650px ) and (max-width: 829px) {
    #PrimeiraSection{
        padding: 0 5%;
        text-align: center;
    }
    .textoPrimSec{
        text-align: center;
    }
    .textoPrimSec h1{
        font-size: 35px;
    }

    #TerceiraSection{
        padding: 80px auto;
    }
}

@media (max-width: 650px){
    #PrimeiraSection{
        width: 100%;
        flex-direction: column;
    }

    #PrimeiraSection h1{
        font-size: 35px;
    }

    #PrimeiraSection img{
        margin: auto;
        width: 100%;
    }

    .textoPrimSec{
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .textoSegSec{
        flex-direction: column;
    }

    .textoSegSec p{
        width: 90%;
        margin-top: 10px;
    }

    #TerceiraSection{
        padding: 50px auto;
    }
    
}


@media (max-width: 450px){
    
    #PrimeiraSection h1{
        margin: 40px 0 20px;
        font-size: 30px;
    }

    .textoSegSec{
        margin: 10px;
    }
    #TerceiraSection{
        padding: 50px auto;
    }

    .QuartaSection{
        width: 100%;
    }

    .card-info{
        width: 280px;
        padding: 10px;
    }

}